asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
dj-database-url==2.1.0
Django==4.2.3
django-tinymce==3.6.1
gunicorn==21.2.0
idna==3.4
packaging==23.1
Pillow==10.0.0
psycopg2==2.9.6
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
whitenoise==6.5.0
