{% extends 'pathways/single_pathway_template.html' %}

{% block pathway_content %}

{% load tz %}
{% now "Y-m-d" as now %}

<div class="text-xl pb-2 font-bold">Planning for {{ pathway.title }}</div>

{% if user.is_authenticated %}
    {% if not error_message %}
        <!-- Task Addition Form -->
        <div class="mt-4 bg-slate-200 rounded p-4">
            <div class="font-bold pb-2">Add a task to study</div>
            <form method="post" class="flex flex-col">
                {% csrf_token %}
                <div class="mt-2">{{ form.title }}</div>
                
                <div class="flex justify-between mt-4">
                    <div class="bg-yellow-500 px-4 py-2 text-black rounded">Due Date : {{ form.due_date }}</div>
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Add Task</button>
                </div>
            </form>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <!-- Displaying the To Study tasks -->
            <div class="my-4 bg-slate-200 rounded p-4">
                <div class="flex justify-between items-center mb-4">
                    <div class="font-bold">To Study</div>
                    <button id="tasks-edit-button" class="px-4 py-1 rounded bg-slate-900 text-white text-sm hover:bg-slate-800">Edit</button>
                </div>
                
                {% for task in to_study_tasks %}
                <div class="flex justify-between items-center my-2">
                    <form method="post" action="{% url 'delete_task' pathway.id task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="hidden delete-button text-white bg-red-600 hover:bg-red-700 rounded px-4 py-2 mr-4">Delete</button>
                    </form>
                    <div class="flex justify-between items-center bg-slate-300 rounded p-2 mr-4 w-full">
                        <span><a href="{% url 'single_task' pathway.id task.id %}">{{ task.title }}</a></span>
                        {% if task.due_date|date:"Y-m-d" < now %}
                            <span class="text-red-600 text-sm">Due by {{ task.due_date }}</span>
                        {% else %}
                            <span class="text-gray-700 text-sm">Due by {{ task.due_date }}</span>
                        {% endif %}
                    </div>
                    <form method="post" action="{% url 'complete_task' pathway.id task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-green-600 hover:bg-green-700 rounded px-4 py-2">✓</button>
                    </form>
                </div>
                {% endfor %}
            </div>

            <!-- Displaying the Completed tasks -->
            <div class="my-4 bg-slate-200 rounded p-4">
                <div class="flex justify-between items-center mb-4">
                    <div class="font-bold">Completed</div>
                    <form method="post" action="{% url 'clear_tasks' pathway.id %}">
                        {% csrf_token %}
                        <button type="submit" class="text-white text-sm bg-slate-900 hover:bg-slate-800 rounded px-4 py-1">Clear</button>
                    </form>
                </div>
                {% for task in completed_tasks %}
                <div class="flex justify-between items-center rounded line-through text-gray-600 py-2 px-2 my-2 bg-slate-300">
                    <span><a href="{% url 'single_task' pathway.id task.id %}">{{ task.title }}</a></span>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% else %}
    <div>
        Only registered users can create tasks. <br>
        If you are a registered user, login by clicking the button above.
    </div>
{% endif %}

{% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
{% endif %}

<script>
    document.querySelector('#{{ form.due_date.id_for_label }}').addEventListener('change', function(e) {
        document.querySelector('#selectedDate').textContent = e.target.value;
    });

    var deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            if (!confirm('Are you sure you want to delete this task?')) {
                event.preventDefault();
            }
        });
    });

    const editButton = document.getElementById('tasks-edit-button')
    
    editButton.addEventListener("click", function() {
        if (editButton.textContent === "Edit") {
            editButton.textContent = "Cancel";
        } else {
            editButton.textContent = "Edit";
        }
        const deleteButtons = document.querySelectorAll(".delete-button");
        deleteButtons.forEach(button => {
            if (button.classList.contains("hidden")) {
                button.classList.remove("hidden");
            } else {
                button.classList.add("hidden");
            }
        });
    });

</script>

{% endblock %}
