{% extends 'pathways/single_pathway_template.html' %}

{% block pathway_content %}

    <div class="text-xl pb-2 font-bold">Resource Archive</div>
            
    <div class="py-4 font-bold">Add Resources</div>

    {% if user.is_authenticated and user == pathway.user %}
        <div class="grid grid-cols-4 gap-4 mb-4">
            
            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="text-form-button">
                Text ✍🏼
            </button>

            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="image-form-button">
                Image 🏞️
            </button>

            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="file-form-button">
                File 📑
            </button>

            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="link-form-button">
                Link 🔗
            </button>
            
        </div>
    {% else %}
    <div class="mb-4">
        Resources can only be added by creator of the pathway. 
    </div>
    {% endif %}

    


    <div class="mb-4" id="text-form" hidden>
        <form method="post" action="{% url 'text_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2">Add Text Resource</p>
                    <button type="button" id="text-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ text_resource_form.title }}
                <label class="text-sm font-medium mb-2">Content</label>
                {{ text_resource_form.content }}
                <button type="submit" name="text_resource" class="bg-blue-500 hover:bg-blue-600 mt-4 px-2 py-1 text-white rounded">Add Text Resource</button>
            </div>
        </form>
    </div>



    <div class="mb-4" id="image-form" hidden>
        <form method="post" enctype="multipart/form-data" action="{% url 'image_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2">Add Image Resource</p>
                    <button type="button" id="image-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ image_resource_form.title }}
                <label class="text-sm font-medium mb-2">Notes</label>
                {{ image_resource_form.notes }}
                <label class="text-sm font-medium mb-2">Image</label>
                {{ image_resource_form.image }}
                <button type="submit" name="image_resource" class="bg-blue-500 hover:bg-blue-600 mt-4 px-2 py-1 text-white rounded">Add Image Resource</button>
            </div>
        </form>
    </div>



    <div class="mb-4" id="file-form" hidden>
        <form method="post" enctype="multipart/form-data" action="{% url 'file_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2">Add File Resource</p>
                    <button type="button" id="file-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ file_resource_form.title }}
                <label class="text-sm font-medium mb-2">Notes</label>
                {{ file_resource_form.notes }}
                <label class="text-sm font-medium mb-2">File</label>
                {{ file_resource_form.attachment }}
                <button type="submit" name="file_resource" class="bg-blue-500 hover:bg-blue-600 text-white mt-4 px-2 py-1 rounded">Add File Resource</button>
            </div>
        </form>
    </div>



    <div id="link-form" hidden>
        <form method="post" action="{% url 'link_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2 text-black">Add Link Resource</p>
                    <button type="button" id="link-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ link_resource_form.title }}
                <label class="text-sm font-medium mb-2">Notes</label>
                {{ link_resource_form.notes }}
                <label class="text-sm font-medium mb-2">URL</label>
                {{ link_resource_form.url }}
                <button type="submit" name="link_resource" class="bg-blue-500 hover:bg-blue-600 text-white mt-4 px-2 py-1 rounded">Add Link Resource</button>
            </div>
        </form>
    </div>

    <div class="pt-4 font-bold">View Resources</div>

    <div>
        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between w-full" id="text-resource-button">
                Text Resources ✍🏼
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                </svg>
            </button>
        
            <div id="text-resource-content" class="mt-4"> 
                {% for text_resource in pathway.text_resources.all %}
                    <div class="mb-4 p-4 bg-slate-300 rounded">
                        <button type="button" class="font-medium toggle-text-resource flex justify-between w-full">
                            {{ text_resource.title }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                        <div class="hidden mt-4">{{ text_resource.content|safe }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>                
        
        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between items-center w-full" id="image-resource-button">
                Image Resources 🏞️
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                </svg>
            </button>

            <div id="image-resource-content" class="mt-4">
                {% for image_resource in pathway.image_resources.all %}
                    <div class="mb-4 bg-slate-300 rounded p-4">
                        <button type="button" class="font-medium toggle-image-resource flex justify-between w-full">
                            {{ image_resource.title }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                        <img class="rounded mt-4 hidden" src="{{ image_resource.image.url }}" alt="{{ image_resource.title }}">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between items-center w-full" id="file-resource-button">
                File Resources 📑
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                </svg>
            </button>

            <div id="file-resource-content" class="mt-4">
                {% for file_resource in pathway.file_resources.all %}
                    <div class="mb-4 rounded p-4 bg-slate-300">
                        <button type="button" class="font-medium toggle-file-resource flex justify-between w-full">
                            {{ file_resource.title }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                        
                        <div class="hidden mt-4"><a href="{{ file_resource.attachment.url }}" target="_blank">{{ file_resource.attachment.url }}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between items-center w-full" id="link-resource-button">
                Link Resources 🔗
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                </svg>
            </button>

            <div id="link-resource-content" class="mt-4">
                {% for link_resource in pathway.link_resources.all %}
                    <div class="mb-4 rounded p-4 bg-slate-300">
                        <button type="button" class="font-medium toggle-link-resource flex justify-between w-full">
                            {{ link_resource.title }}
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-bold transform rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 9l-7 7-7-7" />
                            </svg>
                        </button>
                        
                        <div class="truncate hidden mt-4"><a href="{{ link_resource.url }}" target="_blank">{{ link_resource.url }}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>

    <script>
        const textForm = document.getElementById('text-form');
        const imageForm = document.getElementById('image-form');
        const fileForm = document.getElementById('file-form');
        const linkForm = document.getElementById('link-form');

        const textFormButton = document.getElementById('text-form-button');
        const imageFormButton = document.getElementById('image-form-button');
        const fileFormButton = document.getElementById('file-form-button');
        const linkFormButton = document.getElementById('link-form-button');

        const textFormClose = document.getElementById('text-form-close');
        const imageFormClose = document.getElementById('image-form-close');
        const fileFormClose = document.getElementById('file-form-close');
        const linkFormClose = document.getElementById('link-form-close');

        if(textFormButton && textForm){
            textFormButton.addEventListener('click', function() {
                textForm.removeAttribute('hidden');
            });
        }

        if(imageFormButton && imageForm){
            imageFormButton.addEventListener('click', function() {
                imageForm.removeAttribute('hidden');
            });
        }
        
        if(fileFormButton && fileForm){
            fileFormButton.addEventListener('click', function() {
                fileForm.removeAttribute('hidden');
            });
        }
        
        if(linkFormButton && linkForm){
            linkFormButton.addEventListener('click', function() {
                linkForm.removeAttribute('hidden');
            });
        }
        

        textFormClose.addEventListener('click', function() {
        textForm.setAttribute('hidden', true);
        });
        imageFormClose.addEventListener('click', function() {
        imageForm.setAttribute('hidden', true);
        });
        fileFormClose.addEventListener('click', function() {
        fileForm.setAttribute('hidden', true);
        });
        linkFormClose.addEventListener('click', function() {
        linkForm.setAttribute('hidden', true);
        });

        document.addEventListener('DOMContentLoaded', () => {
            const textContent = document.getElementById('text-resource-content');
            
            document.getElementById('text-resource-button').addEventListener('click', function() {
                textContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-text-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const imageContent = document.getElementById('image-resource-content');
            
            document.getElementById('image-resource-button').addEventListener('click', function() {
                imageContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-image-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                    console.log('button clicked')
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const fileContent = document.getElementById('file-resource-content');
            
            document.getElementById('file-resource-button').addEventListener('click', function() {
                fileContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-file-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const linkContent = document.getElementById('link-resource-content');
            
            document.getElementById('link-resource-button').addEventListener('click', function() {
                linkContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-link-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });

    </script>

{% endblock %}