{% extends 'pathways/single_pathway_template.html' %}

{% block pathway_content %}

{% include 'django_quill/media.html' %}

    <div class="text-xl pb-2 font-bold">Resource Archive</div>
            
    <div class="py-4 font-bold">Add Resources</div>

    {% if user.is_authenticated and user == pathway.user %}
        <div class="grid grid-cols-4 gap-4 mb-4">
            
            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="text-form-button">
                Text ✍🏼
            </button>

            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="image-form-button">
                Image 🏞️
            </button>

            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="file-form-button">
                File 📑
            </button>

            <button type="button" class="bg-slate-300 px-2 py-1 rounded text-black" id="link-form-button">
                Link 🔗
            </button>
            
        </div>
    {% else %}
    <div class="mb-4">
        Resources can only be added by creator of the pathway. 
    </div>
    {% endif %}

    


    <div class="mb-4" id="text-form" hidden>
        <form method="post" action="{% url 'text_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2">Add Text Resource</p>
                    <button type="button" id="text-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ text_resource_form.title }}
                <label class="text-sm font-medium mb-2">Content</label>
                {{ text_resource_form.content }}
                <button type="submit" name="text_resource" class="bg-blue-500 hover:bg-blue-600 mt-4 px-2 py-1 text-white rounded">Add Text Resource</button>
            </div>
        </form>
    </div>



    <div class="mb-4" id="image-form" hidden>
        <form method="post" enctype="multipart/form-data" action="{% url 'image_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2">Add Image Resource</p>
                    <button type="button" id="image-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ image_resource_form.title }}
                <label class="text-sm font-medium mb-2">Notes</label>
                {{ image_resource_form.image_notes }}
                <label class="text-sm font-medium">Image</label>
                <div class="mt-2">{{ image_resource_form.image }}</div>
                <button type="submit" name="image_resource" class="bg-blue-500 hover:bg-blue-600 mt-4 px-2 py-1 text-white rounded">Add Image Resource</button>
            </div>
        </form>
    </div>



    <div class="mb-4" id="file-form" hidden>
        <form method="post" enctype="multipart/form-data" action="{% url 'file_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2">Add File Resource</p>
                    <button type="button" id="file-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ file_resource_form.title }}
                <label class="text-sm font-medium mb-2">Notes</label>
                {{ file_resource_form.file_notes }}
                <label class="text-sm font-medium">File</label>
                <div class="mt-2">{{ file_resource_form.attachment }}</div>
                <button type="submit" name="file_resource" class="bg-blue-500 hover:bg-blue-600 text-white mt-4 px-2 py-1 rounded">Add File Resource</button>
            </div>
        </form>
    </div>



    <div id="link-form" hidden>
        <form method="post" action="{% url 'link_resource' pathway_id=pathway.id %}">
            {% csrf_token %}
            <div class="p-4 bg-slate-300 text-black rounded">
                <div class="flex justify-between">
                    <p class="font-bold mb-2 text-black">Add Link Resource</p>
                    <button type="button" id="link-form-close" class="mb-2 bg-red-500 text-white px-2 py-1 rounded">close</button>
                </div>
                <label class="text-sm font-medium mb-2">Title</label>
                {{ link_resource_form.title }}
                <label class="text-sm font-medium mb-2">Notes</label>
                {{ link_resource_form.link_notes }}
                <label class="text-sm font-medium mb-2">URL</label>
                {{ link_resource_form.url }}
                <button type="submit" name="link_resource" class="bg-blue-500 hover:bg-blue-600 text-white mt-4 px-2 py-1 rounded">Add Link Resource</button>
            </div>
        </form>
    </div>

    <div class="py-2 rounded flex justify-between items-center">
        <div class="font-bold">View Resources</div>
        <div class="gap-4 flex">
            <div class="py-1 px-2 text-black">
                Grouped
            </div>
            <div class="py-1 px-2 bg-gray-900 rounded text-white">
                <a href="{% url 'resource_sorted' pathway.id %}">Sort</a>
            </div>
        </div>
    </div>
    

    <div>
        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between w-full" id="text-resource-button">
                Text Resources ✍🏼
                <div class="font-normal text-gray-700">↓</div>
            </button>
        
            <div id="text-resource-content" class="mt-4"> 
                {% for text_resource in pathway.text_resources.all %}
                    <div class="mb-4 p-4 bg-slate-300 rounded">
                        <button type="button" class="font-medium toggle-text-resource flex justify-between w-full">
                            {{ text_resource.title }}
                            <div class="font-normal text-gray-700">↓</div>
                        </button>
                        <div class="hidden mt-4">
                            <div class="text-gray-800">
                                {{ text_resource.content.html|safe }}
                                {% if text_resource.created_by == request.user %}
                                    <div class="flex justify-between mt-2">
                                        <div class="pseudo-element"></div>
                                        <form action="{% url 'delete_text_resource' pathway.id text_resource.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this resource?');">
                                            {% csrf_token %}
                                            <button type="submit" class="rounded px-2 py-1 bg-red-500 text-white">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>                
        
        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between items-center w-full" id="image-resource-button">
                Image Resources 🏞️
                <div class="font-normal text-gray-700">↓</div>
            </button>

            <div id="image-resource-content" class="mt-4">
                {% for image_resource in pathway.image_resources.all %}
                    <div class="mb-4 bg-slate-300 rounded p-4">
                        <button type="button" class="font-medium toggle-image-resource flex justify-between w-full">
                            {{ image_resource.title }}
                            <div class="font-normal text-gray-700">↓</div>
                        </button>
                        <div class="hidden mt-4">
                            <div class="text-gray-800">
                                <div class="mb-4">{{ image_resource.image_notes.html|safe }}</div>
                                <img class="rounded" src="{{ image_resource.image.url }}" alt="{{ image_resource.title }}">
                                {% if image_resource.created_by == request.user %}
                                    <div class="flex justify-between mt-4">
                                        <div class="pseudo-element"></div>
                                        <form action="{% url 'delete_image_resource' pathway.id image_resource.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this resource?');">
                                            {% csrf_token %}
                                            <button type="submit" class="rounded px-2 py-1 bg-red-500 text-white">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between items-center w-full" id="file-resource-button">
                File Resources 📑
                <div class="font-normal text-gray-700">↓</div>
            </button>

            <div id="file-resource-content" class="mt-4">
                {% for file_resource in pathway.file_resources.all %}
                    <div class="mb-4 rounded p-4 bg-slate-300">
                        <button type="button" class="font-medium toggle-file-resource flex justify-between w-full">
                            {{ file_resource.title }}
                            <div class="font-normal text-gray-700">↓</div>
                        </button>
                        
                        <div class="hidden mt-4">
                            
                            <div class="text-gray-800">
                                <div class="mb-4">{{ file_resource.file_notes.html|safe }}</div>
                                <a href="{{ file_resource.attachment.url }}" target="_blank" class="underline">{{ file_resource.name }}</a>
                                {% if file_resource.created_by == request.user %}
                                    <div class="flex justify-between mt-2">
                                        <div class="pseudo-element"></div>
                                        <form action="{% url 'delete_file_resource' pathway.id file_resource.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this resource?');">
                                            {% csrf_token %}
                                            <button type="submit" class="rounded px-2 py-1 bg-red-500 text-white">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="p-4 bg-slate-200 rounded mt-4 text-black">
            <button type="button" class="font-bold flex justify-between items-center w-full" id="link-resource-button">
                Link Resources 🔗
                <div class="font-normal text-gray-700">↓</div>
            </button>

            <div id="link-resource-content" class="mt-4">
                {% for link_resource in pathway.link_resources.all %}
                    <div class="mb-4 rounded p-4 bg-slate-300">
                        <button type="button" class="font-medium toggle-link-resource flex justify-between w-full">
                            {{ link_resource.title }}
                            <div class="font-normal text-gray-700">↓</div>
                        </button>
                        
                        <div class="truncate hidden mt-4">
                            <div class="mb-4">{{ link_resource.link_notes.html|safe }}</div>
                            <div class="flex justify-between items-center gap-4 bg-slate-700 text-white p-4 rounded">
                                <div class="flex gap-4">
                                    {% if link_resource.fetched_image_url %}
                                    <img src="{{ link_resource.fetched_image_url }}" alt="{{ link_resource.fetched_title }}" class="rounded w-20" />
                                    {% endif %}
                                    <div>
                                        <a href="{{ link_resource.url }}" target="_blank">{{ link_resource.fetched_title }}</a>
                                        <div class="mt-2 text-sm">{{ link_resource.fetched_domain }}</div>
                                    </div>
                                </div>
    
                                {% if link_resource.created_by == request.user %}
                                    <div class="flex justify-between">
                                        <div class="pseudo-element"></div>
                                        <form action="{% url 'delete_link_resource' pathway.id link_resource.id %}" method="post" onsubmit="return confirm('Are you sure you want to delete this resource?');">
                                            {% csrf_token %}
                                            <button type="submit" class="rounded px-2 py-1 bg-red-500 text-white">Delete</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>                            
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
        

{% endblock %}