{% extends 'pathways/single_pathway_template.html' %}

{% block pathway_content %}
<div class="grid grid-cols-2 gap-6 mb-10">
    <!-- First Revision Box -->
    <div class="border rounded-lg p-6">
        <h3 class="text-2xl mb-4">First Revision</h3>
        {% for revision in revisions %}
            {% if revision.revision_type == revision.FIRST %}
                <div class="mb-2">
                    Task: {{ revision.study_task.title }}<br>
                    Due Date: {{ revision.due_date }}<br>
                    <button onclick="location.href='{% url 'mark_revision_completed' revision.id %}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mt-2 mb-4">
                        Mark as Completed
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Second Revision Box -->
    <div class="border rounded-lg p-6">
        <h3 class="text-2xl mb-4">Second Revision</h3>
        {% for revision in revisions %}
            {% if revision.revision_type == revision.SECOND %}
                <div class="mb-2">
                    Task: {{ revision.study_task.title }}<br>
                    Due Date: {{ revision.due_date }}<br>
                    <button onclick="location.href='{% url 'mark_revision_completed' revision.id %}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mt-2 mb-4">
                        Mark as Completed
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Third Revision Box -->
    <div class="border rounded-lg p-6">
        <h3 class="text-2xl mb-4">Third Revision</h3>
        {% for revision in revisions %}
            {% if revision.revision_type == revision.THIRD %}
                <div class="mb-2">
                    Task: {{ revision.study_task.title }}<br>
                    Due Date: {{ revision.due_date }}<br>
                    <button onclick="location.href='{% url 'mark_revision_completed' revision.id %}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mt-2 mb-4">
                        Mark as Completed
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Fourth Revision Box -->
    <div class="border rounded-lg p-6">
        <h3 class="text-2xl mb-4">Fourth Revision</h3>
        {% for revision in revisions %}
            {% if revision.revision_type == revision.FOURTH %}
                <div class="mb-2">
                    Task: {{ revision.study_task.title }}<br>
                    Due Date: {{ revision.due_date }}<br>
                    <button onclick="location.href='{% url 'mark_revision_completed' revision.id %}'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mt-2 mb-4">
                        Mark as Completed
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Completed Tasks List -->
<div>
    <h3 class="text-2xl mb-4">Completed Revisions</h3>
    {% for revision in completed_revisions %}
        {% if revision.status == 'completed' %}
            <div class="mb-4 p-4 border-green-400 border rounded-lg">
                Task: {{ revision.study_task.title }}
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}