{% extends 'shared/header.html' %}

{% block content %}
    <div class="flex justify-center">
        <div class="mx-4 mb-4 w-full">
            <div class="grid grid-cols-4 gap-4">
                <div class="flex flex-col gap-4 text-black bg-slate-200 rounded p-4 min-h-screen">
                    <div class="divide-y divide-slate-800 rounded">
                        <div class="text-xl font-bold capitalize mb-4">{{ pathway.title }}</div>
                        <div class="flex justify-between py-4">
                            <div>creator: {{ pathway.user }}</div>
                            <div>{{ pathway.created_at|date:"d/m/Y" }}</div>
                        </div>
                        <div class="pseudo-element"></div>
                    </div>
                    <div class="grid grid-cols-7 gap-4">
                        <div class="p-2 bg-white text-gray-950 rounded justify-self-center">{{ pathway.votes }}</div> 
                        <div class="grid grid-cols-2 gap-4 col-span-6 text-white">
                            <form method="post" action="{% url 'upvote_pathway' pathway.id %}">
                                {% csrf_token %}
                                <button type="submit" class="bg-blue-500 p-2 rounded w-full">↑ Upvote</button>
                            </form>
                            <form method="post" action="{% url 'downvote_pathway' pathway.id %}">
                                {% csrf_token %}
                                <button type="submit" class="bg-red-500 p-2 rounded w-full">↓ Downvote</button>
                            </form>
                        </div>   
                    </div>

                    <div class="bg-slate-300 p-3 rounded">
                        <a href="{% url 'resource_archive' pathway.id %}">Resources</a>
                    </div>
                    <div class="bg-slate-300 p-3 rounded">
                        <a href="{% url 'pathway_comments' pathway.id %}">Discussion</a></div>
                    <div class="bg-slate-300 p-3 rounded">
                        <a href="{% url 'planning' pathway.id %}">Planning</a>
                    </div>
                    <div class="bg-slate-300 p-3 rounded">
                        <a href="{% url 'revision' pathway.id %}">Revision</a>
                    </div>
                    {% if user.is_authenticated %}
                        {% if pathway.user == user %}
                            <div class="bg-slate-300 p-3 rounded">
                                <a href="{% url 'pathway_settings' pathway.id %}">Settings</a>
                            </div>
                        {% endif %}
                        {% if pathway.user != user and pathway.visibility == "public" and not is_user_following %}
                            <div class="bg-emerald-700 p-3 rounded text-white">
                                <a href="{% url 'follow_pathway' pathway.id %}">Follow</a>
                            </div>
                        {% endif %}
                        {% if pathway.user != user and pathway.visibility == "public" and is_user_following %}
                            <div class="bg-gray-400 p-3 rounded">
                                <a href="{% url 'unfollow_pathway' pathway.id %}">Unfollow</a>
                            </div>
                        {% endif %}
                    {% endif %}


                </div>
                <div class="col-span-3 p-4 text-black">
                    {% block pathway_content %}
                    
                    {% endblock %}
                </div>
            </div>
            
        </div>
    </div>

    <script>
        const textForm = document.getElementById('text-form');
        const imageForm = document.getElementById('image-form');
        const fileForm = document.getElementById('file-form');
        const linkForm = document.getElementById('link-form');

        const textFormButton = document.getElementById('text-form-button');
        const imageFormButton = document.getElementById('image-form-button');
        const fileFormButton = document.getElementById('file-form-button');
        const linkFormButton = document.getElementById('link-form-button');

        const textFormClose = document.getElementById('text-form-close');
        const imageFormClose = document.getElementById('image-form-close');
        const fileFormClose = document.getElementById('file-form-close');
        const linkFormClose = document.getElementById('link-form-close');

        if(textFormButton && textForm){
            textFormButton.addEventListener('click', function() {
                textForm.removeAttribute('hidden');
            });
        }

        if(imageFormButton && imageForm){
            imageFormButton.addEventListener('click', function() {
                imageForm.removeAttribute('hidden');
            });
        }
        
        if(fileFormButton && fileForm){
            fileFormButton.addEventListener('click', function() {
                fileForm.removeAttribute('hidden');
            });
        }
        
        if(linkFormButton && linkForm){
            linkFormButton.addEventListener('click', function() {
                linkForm.removeAttribute('hidden');
            });
        }
        

        textFormClose.addEventListener('click', function() {
        textForm.setAttribute('hidden', true);
        });
        imageFormClose.addEventListener('click', function() {
        imageForm.setAttribute('hidden', true);
        });
        fileFormClose.addEventListener('click', function() {
        fileForm.setAttribute('hidden', true);
        });
        linkFormClose.addEventListener('click', function() {
        linkForm.setAttribute('hidden', true);
        });

        document.addEventListener('DOMContentLoaded', () => {
            const errors = textForm.querySelectorAll('.errorlist');
            if (errors.length > 0) {
                textForm.removeAttribute('hidden');
            }
        });

        document.addEventListener('DOMContentLoaded', () => {

            const textContent = document.getElementById('text-resource-content');
            
            document.getElementById('text-resource-button').addEventListener('click', function() {
                textContent.classList.toggle('hidden');
                
            });
            
            document.querySelectorAll('.toggle-text-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const imageContent = document.getElementById('image-resource-content');
            
            document.getElementById('image-resource-button').addEventListener('click', function() {
                imageContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-image-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const fileContent = document.getElementById('file-resource-content');
            
            document.getElementById('file-resource-button').addEventListener('click', function() {
                fileContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-file-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const linkContent = document.getElementById('link-resource-content');
            
            document.getElementById('link-resource-button').addEventListener('click', function() {
                linkContent.classList.toggle('hidden');
            });
            
            document.querySelectorAll('.toggle-link-resource').forEach(button => {
                button.addEventListener('click', () => {
                    const resourceContent = button.nextElementSibling;
                    resourceContent.classList.toggle('hidden');
                });
            });
        });


    </script>

        
{% endblock %}
